/* import font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* sheared style */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F5F5;
    font-family: Fira Sans;
    
}
.primary-btn{
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    /* button-Text */
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    cursor: pointer;
}

.margin-12-px{
    margin-bottom: 12px;
}

.light-black{
    color: rgba(14, 14, 14, 0.7);
}

/* Nav degine */
nav{
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 160px;
    
}
.nav-btn{
    padding: 15px 30px 15px 30px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 8px;
    border: 2px solid;
    border-color: rgb(0, 106, 80);
    cursor: pointer;

}

/* start banner part */
.banner{
    width: 1280px;
    height: 560px;
    font-family: Fira Sans;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 50px 160px 80px 160px;
}
.banner-contain{
    display: flex;
    align-items: center;
    gap: 64;
    padding: 80px 100px 80px 100px;
}

.baner-sup-title{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 16px;
}
.banner-btn{
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;

    margin-top: 24px;
}
/* vision part */
.vision{
    width: 1280px;
    margin: 80px 160px 80px 160px;
}
.vision-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.vision-sub-title{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
}

.vision-card-content{
    display: flex;
    gap: 24px;
    justify-content: space-around;
    align-items: center;
    margin-top: 32px;
}

.vision-card-01{
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
    width: 410.67px;
height: 325px;
}

.vision-card-02{
    border-radius: 16px;
    background-color: rgb(198, 228, 214);
    padding: 32px;
    width: 410.67px;
height: 325px;

}

.vision-card-03{
    border-radius: 16px;
    background-color: rgb(247, 235, 207);
    padding: 32px;
    width: 410.67px;
    height: 325px;

}

.vision-card-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
}
.vision-card-subtitle{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 12px;
}

.vision-card01-btn{
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background-color: rgba(84, 144, 245);
    border: none;
    margin-top: 24px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;

}

.vision-card02-btn{
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background-color: rgba(9, 161, 92);
    border: none;
    margin-top: 48px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;

}

.vision-card03-btn{
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background-color: rgba(255, 194, 57);
    border: none;
    margin-top: 24px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;

}

/*  Donate section */
.donate{
    /* width: 1280px; */
    margin: 80px 160px 80px 160px;
}

.donate-title-content{
    text-align: center;

}

.donate-title{
    font-size: 40px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-weight: 700;
    line-height: 48px;
}
.donate-sub-title{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}

.donate-amount{
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
}

.donate-amount-btn{
    display: block;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    cursor: pointer;

}
.donate-amount-btn-selected{
    background: rgb(198, 228, 214);
}

.donate-amount-type{
    margin-top: 32px;
    width: 100%;
    text-align: center;
    padding: 20px 40px 20px 40px;
    /* text-decoration */
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    /* box-decoration */
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
}

.donate-now-button{
    margin-top: 32px;
    text-align: center;

}

/* Recent News Section */
.Recent-news{
    /* width: 1280px; */
    margin: 80px 160px 80px 160px;

}

.Recent-news-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.Recent-news-sub-title{
    margin-top: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.news{
    margin-top: 32px;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    padding: 48px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    gap: 24px;
}

.news-figure-pic{
    border-radius: 24px;
}

.read-more-button{
    margin-top: 32px;
}
.news-description{
    margin-top: 12px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}